mixin item-arrow(title, icon, items, id)
  li.nav-item.dropdown(btn-nav-tag)
    a.dropdown-toggle.btn-nav(button-dropdown-item #{id})
      span.icon-holder
        i(class= icon)
      span.title= title
      span(class="arrow" arrow)
        i.ti-angle-right
    ul.dropdown-menu
      each item in items
        li
          a.sidebar-link(href= item.href) #{item.title}
mixin normal-item(title, icon, href, id)
  li.nav-item.mT-30(btn-nav-tag)
      a.sidebar-link(#{id})
        span.icon-holder
          i(class= icon)
        span.title= title