extends ../../layout/default.pug
include ../../mixins/pagination.pug

block main
  .row.align-items-center.justify-content-between.mb-6
    .d-flex.align-items-center
      span.title Lớp:
      .dropdown.ml-2
        button.btn.btn-primary.dropdown-toggle#dropdownButton(type='button' data-bs-toggle='dropdown')
          | #{className}
        ul.dropdown-menu
          //- sinh ra 10 lop
          each lop, index in [1,2,3,4,5,6,7,8,9,10]
            li
              - var lopStr = "DCCN" + ("0" + lop).slice(-2)
              a.dropdown-item(data-class = lopStr) #{lopStr}
          li
            a.dropdown-item(data-class = "all") Tất cả
      .search-wrapper.d-flex.align-items-center.ml-2
        input(type="text" class="form-control search-box" placeholder="--- Tìm kiếm ---")
        button.btn.btn-light Lọc
  hr
  h5 Danh sách sinh viên
  table(class="table table-striped")
    thead
      tr
        th STT
        th Mã sinh viên
        th Họ và tên
        th Lớp
        th Chi tiết
    tbody
      each student, index in studentList
        tr
          td #{index + 1}
          td #{student.MSV}
          td #{student.Ten}
          td #{student.Lop}
          td
            a.btn.btn-primary(href=`/admin/pages/viewResult/student/${student.studentId}`) Xem chi tiết
  +pagination(pagination)
