extends ../../layout/default.pug
include ../../mixins/pagination.pug

block main
  .row.align-items-center.justify-content-between.mb-6
    .search-wrapper.d-flex.align-items-left.ml-2
        input( type="text" class="form-control search-box-2" tim-kiem-stu placeholder="---Tìm kiếm---" value=keyword)
        button.btn.btn-light(btn-loc-stu) Lọc
  hr
  h5 Danh sách bài thi đã làm
  table(class="table table-striped")
    thead
      tr
        th ID
        th Date
        th Problem
        th Status
        th Language
        th Summary
        th Chi tiết
    tbody
        each submit, index in submitList
            tr
            td #{submit.id}
            td #{submit.date}
            td #{submit.problem.name}
            td #{submit.result.status.name}
            td #{submit.compiler.version.name}
            td #{submit.result.time}s #{submit.result.memory}KB
            td
                a.btn.btn-primary(btn-detail-submit idSubmit = submit.id ) Xem source
  +pagination(pagination)